.insertCard{
  /*padding: 30px;*/
  width: 80vw;
  max-width: 700px;
  height: auto;
  margin: 30px;
  color: white;
}

mat-form-field{
  padding-right: 10px;
}

.headerApp{
  color: white;
  background-color: #7b1fa2;
  padding: 20px;
}

.menuCard{
  width: 80vw;
  max-width: 700px;
  height: auto;
  margin: 30px;
  color: white;
}

button{
  margin: 10px;
}

* {
  padding: 5px;
}

