
<div class="headerApp">
  <h1>CATÁLOGO DE VEÍCULOS</h1>
  <h2>Veículos da empresa EmprestaAgora</h2>
</div>


<div class="">
  <mat-card class="menuCard">
    <mat-card-header>
      <mat-card-title>Veículos</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button (click)="mostraCardInsercao()">Inserir</button>
      <button mat-raised-button (click)="mostraCardListagem()">Listar</button>
    </mat-card-actions>

  </mat-card>
</div>


<div class="" *ngIf="insercao">
  <mat-card class="insertCard">
    <mat-card-header>
      <mat-card-title>Inserir novo veículo</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Placa</mat-label>
        <input matInput [(ngModel)]="placaTemp" placeholder="digite a placa">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Modelo</mat-label>
        <input matInput [(ngModel)]="modeloTemp" placeholder="digite o modelo do veiculo">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cor</mat-label>
        <input matInput [(ngModel)]="corTemp" placeholder="digite a cor">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="salvaDados()" color="primary"><mat-icon>add</mat-icon></button>

    </mat-card-actions>
  </mat-card>
</div>


<div *ngIf="listagem">
  <div *ngFor="let veiculo of veiculos">
    <mat-card class="insertCard">
      <mat-card-header>
        <mat-card-title>{{veiculo.placa}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-label>Modelo: </mat-label><span>{{veiculo.nomeModelo}}</span>
        <br>
        <mat-label>Cor: </mat-label><span>{{veiculo.cor}}</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="editarVeiculo(veiculo)"><mat-icon>edit</mat-icon></button>
        <button mat-raised-button color="primary" (click)="excluirVeiculo(veiculo)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
      <mat-card *ngIf="veiculo.editavel">
        <mat-card-header>
          <mat-card-title>Edição do veículo de placa {{veiculo.placa}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Placa</mat-label>
            <input matInput [(ngModel)]="veiculo.placa" placeholder="digite a placa">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Modelo</mat-label>
            <input matInput [(ngModel)]="veiculo.nomeModelo" placeholder="digite o modelo do veiculo">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Cor</mat-label>
            <input matInput [(ngModel)]="veiculo.cor" placeholder="digite a cor">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="veiculo.editavel = false"><mat-icon>send</mat-icon></button>
        </mat-card-actions>
      </mat-card>

    </mat-card>

  </div>

</div>

